body{
    background-color: #24353f;
}
button{
    border:2px #17a2b8 solid ;
    padding: 5px;
    color: #17a2b8;
    transition: all 0.5s;
}
button:hover{
    background-color: #17a2b8!important;
    color: white;
}
.login{
    box-shadow:15px 15px 25px 25px rgba(0, 0, 0,0.5);
}
.signup{
    box-shadow:15px 15px 25px 25px rgba(0, 0, 0,0.5);
}
input{
    border:2px solid #ced4da;
    
}
.form-control:focus{
    box-shadow: none;
}
 input::placeholder {
    color: #ced4da!important;
  }
 .login a{
    transition: all 0.5s;
  }
  .login a:hover{
    text-decoration:underline!important;
  }
  .signup a{
    transition: all 0.5s;
  }
  .signup a:hover{
    text-decoration:underline!important;
  }
  nav{
    background-color: #24353f!important;
    box-shadow:15px 25px 25px rgba(0, 0, 0,0.5);
  }
  .logout{
    border: 1px solid #ffc107;
    transition: all 1s;
  }
  .logout:hover{
    background-color: #ffc107!important;
  }